esphome:
  name: matrix
  platform: esp8266
  board: nodemcuv2 # esp32dev
  

  on_boot:
    #- priority: 300.0 # after sensor setup, before WIFI initialization 
      then:
        - light.turn_on:
            id: led_matrix_light
            brightness: 50%
        - text_sensor.template.publish:
            id: matrix_page
            state: !lambda 'return "page1";'
# Enable logging
logger:
time:
  - platform: homeassistant
    id: esptime
# Enable Home Assistant API
api:
  services:
    - service: fire
      then:
        - display.page.show: page2

    - service: clock
      then:
        - display.page.show: page1       
    - service: loading
      then:
        - display.page.show: page3
    - service: alof
      then:
        - light.turn_on:
            id: led_matrix_light
            brightness: 50%
        - lambda:  |-
                   id(seconds) = id(timer).state;
        - display.page.show: page4            
        - script.execute: secondlow
    - service: testpage
      then:
        - display.page.show: !lambda |-
              return page3;
        
        
        
    - service: cr
      then:
        - display.page.show: page5
    - service: nextpage
      then:
        - display.page.show_next: led_matrix_display
        - component.update: led_matrix_display
ota:
  password: "c177fcb3eeb2769e508cfc21b3726665"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.3.100
    gateway: 192.168.3.1
    subnet: 255.255.255.0
  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Cwwlent Fallback Hotspot"
    password: !secret hotspot_password



captive_portal:

globals:
   - id: seconds
     type: int
     restore_value: no
     initial_value: '0'

light:
  - platform: neopixelbus 
    variant: SK6812 
    #chipset: WS2812
    pin: D5
    num_leds: 782
    #rgb_order: GRB
    name: "led_matrix"
    id: led_matrix_light
    default_transition_length: 0s
    color_correct: [50%, 50%, 50%]
    
 #   restore_mode: ALWAYS_ON
    #max_refresh_rate: 16ms
  #  effects:
  #    - e131:
  #        universe: 1
  #        channels: RGB
 #     - wled:
font:
  - file: "Blockeo.ttf"
  #"Welbut__.ttf"
  #file: "DOTMBold.ttf"
    id: fontmy
    size: 16
  - id: fontmy23
    file: "pzim3x5.ttf"
    size: 9
  - id: fontmy2
    file: "3x5Regular.ttf"
    size: 7
    
display:
  - platform: addressable_light
    id: led_matrix_display
    addressable_light_id: led_matrix_light
    width: 23
    height: 34
    pixel_mapper: |-
      if (x % 2 == 0) {
        return (x * 34) + y;
      }
      return (x * 34) + (33 - y);
    rotation: 90°
    update_interval: 16ms
    pages:
      - id: page1
        lambda: |-
          // it.strftime(17, -1, id(fontmy),   TextAlign::TOP_CENTER    , "%H:%M", id(esptime).now());
          it.strftime(16, -1, id(fontmy),   TextAlign::TOP_RIGHT    , "%H", id(esptime).now());
          it.strftime(19, -1, id(fontmy),   TextAlign::TOP_LEFT    , "%M", id(esptime).now());
          it.printf(16, -1, id(fontmy),  ":");
          it.printf(15, 11, id(fontmy2),  "%.0f", id(co2).state);
          it.printf(0, 11, id(fontmy2),  "C");
          it.printf(4, 11, id(fontmy2),  "O");
          it.printf(8, 11, id(fontmy2),  "2");
          it.printf(11, 11, id(fontmy2),  ":");
          it.printf(0, 18, id(fontmy2), TextAlign::LEFT, "T");
          it.printf(4, 18, id(fontmy2), TextAlign::LEFT, "%.0f", id(temp).state);
          it.printf(12, 16, id(fontmy23), TextAlign::LEFT, "°");
          it.printf(18, 18, id(fontmy2), TextAlign::LEFT, "H");
          it.printf(22, 18, id(fontmy2), TextAlign::LEFT, "%.0f", id(hum).state);
          it.printf(30, 18, id(fontmy2), TextAlign::LEFT, "%%");
      - id: page2
        lambda: |-
                id(my_animation).next_frame();
                it.image(0, 0, id(my_animation));
                
             
            
      - id: page3
        lambda: |-
                id(load).next_frame();
                it.image(0, 0, id(load));
      - id: page4
        lambda: |-
                it.printf(0, 0, id(fontmy2), TextAlign::LEFT, "%.i", id(seconds));
           #     it.printf(0, 10, id(fontmy2), TextAlign::LEFT, "%s", id(matrix_page).state.c_str());
                 
      - id: page5
        lambda: |-
                it.image(0, 0, id(cr)); 
      - id: page6
        lambda: |-
                it.image(0, 0, id(white)); 
      - id: page7
        lambda: |-
          it.image(0, 0, id(crist));
    on_page_change:
      - to: page1
        then:
          - text_sensor.template.publish:
             id: matrix_page
             state: !lambda 'return "page1";'


      - to: page2
        then:
          - text_sensor.template.publish:
             id: matrix_page
             state: !lambda 'return "page2";'
     
animation:

  - file: "fire5.gif"
    id: my_animation
    type: RGB24
    resize: 34x23
  - file: "load.gif"
    id: load
    type: RGB24
    resize: 34x23
image:
  - file: "co2.png"
    id: co2_image
    resize: 34x23
    type: RGB24
  - file: "cr.png"
    id: cr
    resize: 34x23
    type: RGB24
  - file: "white.png"
    id: white
    resize: 34x23
    type: RGB24
  - file: "crist.png"
    id: crist
    resize: 34x23
    type: RGB24
sensor:

  - platform: homeassistant
    id: co2
    entity_id: sensor.senseair_co2_value
    
  - platform: homeassistant
    id: timer
    entity_id: input_number.timer
    
  - platform: uptime
    name: Matrix Uptime Sensor    

  - platform: homeassistant
    id: hum
    entity_id: sensor.living_room_humidity
    
  - platform: homeassistant
    id: temp
    entity_id: sensor.living_room_temperature

text_sensor:
  - platform: template
    name: "Last Page"
    id: matrix_page




script:
  - id: secondlow
    then:
      - while:
          condition: 
           lambda: |-
             return id(seconds) > 0;
          then:
            - lambda:  |-
                   id(seconds) -= 1;
            #- component.update: led_matrix_display
            - delay: 1s     
