esphome:
  name: sensors
  platform: ESP32
  board: esp32dev
globals:
   - id: debug_mode
     type: int
     restore_value: no
     initial_value: '1'
   - id: cover_steps
     type: int
     restore_value: no
     initial_value: '82000'
# Enable logging
logger:

# Enable Home Assistant API
api:
  services:
    # - service: abc_get_period
    #   then:
    #     - senseair.abc_get_period: roomco2s
    # - service: abc_enable
    #   then:
    #     - senseair.abc_enable: roomco2s
    # - service: abc_disable
    #   then:
    #     - senseair.abc_disable: roomco2s        
    # - service: background_calibration_result
    #   then:
    #     - senseair.background_calibration_result: roomco2s  
    # - service: background_calibration
    #   then:
    #     - senseair.background_calibration: roomco2s    
    - service: epson_toggle
      then:
      - remote_transmitter.transmit_nec:
          address: 0x5583
          command: 0x6F90     

ota:
  password: "adb11dcab2b8d0d24ebe8a9cb94d5958"

time:
  - platform: homeassistant
    id: esptime
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  manual_ip:
    static_ip: 192.168.3.105
    gateway: 192.168.3.1
    subnet: 255.255.255.0

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Clock Fallback Hotspot"
    password: !secret hotspot_password

captive_portal:
# i2c:
#   sda: 14
#   scl: 13
#   scan: true
#   id: bus_a
  
  
  
uart:
  - id: senseairbus
    rx_pin: 22
    tx_pin: 23
    baud_rate: 9600
  - id: pmsbus
    rx_pin: 35
    baud_rate: 9600    

  
  
remote_transmitter:
  pin: 21
  carrier_duty_percent: 50% 
  
  
  
sensor:
  # - platform: senseair
  #   uart_id: senseairbus
  #   id: roomco2s
  #   co2:
  #     id: roomco2
  #     filters:
  #     - filter_out: 0.0
  #     name: "SenseAir CO2 Value"
  #   update_interval: 30s
    
  # - platform: htu21d
  #   i2c_id: bus_a
  #   temperature:
  #     name: "Living Room Temperature"
  #     id: temp
  #     accuracy_decimals: 1
  #   humidity:
  #     name: "Living Room Humidity"
  #     id: hum
  #     accuracy_decimals: 1
  #   update_interval: 30s
    
  - platform: pmsx003
    type: PMSX003
    uart_id: pmsbus
    pm_1_0:
      name: "Particulate Matter <1.0µm Concentration"
      id: pms1
      filters:
        - debounce: 10s      
    pm_2_5:
      name: "Particulate Matter <2.5µm Concentration"
      id: pms2_5
      filters:
        - debounce: 10s 
    pm_10_0:
      name: "Particulate Matter <10.0µm Concentration"
      id: pms10
      filters:
        - debounce: 10s 
    pm_1_0_std:
      name: "Particulate Matter <1.0µm Concentration STD"
      id: pms1std
      filters:
        - debounce: 10s 
    pm_2_5_std:
      name: "Particulate Matter <2.5µm ConcentrationSTD"
      id: pms2_5std
      filters:
        - debounce: 10s 
    pm_10_0_std:
      name: "Particulate Matter <10.0µm ConcentrationSTD"
      id: pms10std
      filters:
        - debounce: 10s 
    pm_0_3um:
      name: "pm_0_3um"
      id: pms0_3
      filters:
        - debounce: 10s 
    pm_0_5um:
      name: "pm_0_5um"
      id: pm_0_5um 
      filters:
        - debounce: 10s 
    pm_1_0um:
      name: "pm_1_0um"
      id: pm_1_0um 
      filters:
        - debounce: 10s    
    pm_2_5um:
      name: "pm_2_5um"
      id: pm_2_5um  
      filters:
        - debounce: 10s   
    pm_5_0um:
      name: "pm_5_0um"
      id: pm_5_0um   
      filters:
        - debounce: 10s 
    pm_10_0um:
      name: "pm_10_0um"
      id: pm_10_0um   
      filters:
        - debounce: 10s 
      
stepper:
  - platform: a4988
    id: my_stepper
    step_pin: 26
    dir_pin: 
     number: 25
     inverted: false
    max_speed: 600 steps/s
   # sleep_pin: 27
 #   acceleration: 250
 #   deceleration: 250
binary_sensor:
  # - platform: gpio
  #   id: stepstop
  #   name: stepstop
  #   pin:
  #   number: 4
  #   inverted: true
  #   device_class: power
  #   on_release:
  #   then:
  #       - stepper.report_position:
  #           id: my_stepper
  #           position: -250
  #       - stepper.set_target:
  #           id: my_stepper
  #           target: 0      
  - platform: gpio
    id: win1
    name: win1
    pin:
     number: 16
     inverted: true
  - platform: gpio
    id: win2
    name: win2
    pin:
     number: 2
     inverted: true
  - platform: gpio
    id: win3
    name: win3
    pin:
     number: 15
     inverted: true
cover:
  - platform: template
    name: "Room Cover"
    device_class: blind
    #has_position: true
    optimistic: true  
    has_position: true
    assumed_state: true
    lambda: |-
      if (id(my_stepper).current_position == 0) {
        return COVER_OPEN;
      } else {
        return COVER_CLOSED;
      }
    close_action:
      if:
        condition:
          or:
#                - binary_sensor.is_on: stepstop
                - lambda: "return (id(debug_mode) == 1);" 
        then:
              - switch.turn_off: pms_set
              - stepper.set_target:
                  id: my_stepper
                  target: !lambda 'return id(cover_steps);'
    open_action:
      if:
        condition:
          or:
#                - binary_sensor.is_on: stepstop
                - lambda: "return (id(debug_mode) == 1);"
        then:
          - switch.turn_off: pms_set
          - stepper.set_target:
              id: my_stepper
              target: 0
            
    stop_action:
        - stepper.set_target:
            id: my_stepper
            target: !lambda "return id(my_stepper).current_position;"
switch:
  - platform: gpio
    pin: 32
#    inverted: no
    id: pms_set    
    name: "pms_set"  
    internal: true
    
  - platform: gpio
    pin: 27
#    inverted: no
    id: step_sleep   
    name: "step sleep"      
interval:
  - interval: 300s
    then:
      - switch.turn_on: pms_set
      - delay: 38s
      - switch.turn_off: pms_set